@using MakeMyTrip.VIewModel.dataviewModel
@model List<FlightScheduleDTO>

<table class="table">
    <thead>
    <th>Flight Date</th>
    <th>Depart NAme</th>
    <th>Arive date</th>
    </thead>
    @{
        foreach (var item in Model)
        {
            <tbodt>
                <td>@item.FlightName</td>
                <td>@item.DepartureDate</td>
                <td>@item.ArrivalDate</td>
            </tbodt>
        }

    }
</table>