@using MakeMyTrip.Models.Services
@model API_Obj
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Tsssesf</h1>
    <div class="form-group">
                <label  class="control-label">TYpe</label>
                <select  class ="form-control" asp-items="ViewBag.DepartmentRefId"></select>
            </div>


